<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0"> 
    <link rel="stylesheet" href="style.css">
    <title>
      Calendar
    </title>
  </head>
  <body>
    <h1> Calendar </h1>
    <div class="calendar">
      
      <div class="header>
        <button id="prevBtn">
        </button>
        <div class="monthYear" id="monthYear"></div>
      </div>

      <div class="days">
        <div class="day">Monday</div>
        <div class="day">Monday</div>
        <div class="day">Monday</div>
        <div class="day">Monday</div>
        <div class="day">Monday</div>
        <div class="day">Monday</div>
        <div class="day">Monday</div>
      </div>

      <div class="dates" id="dates">
      </div>
    
    </div>
  </body>
</html>
