<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Agile Manager
    </title>

  </head>

  <body>
    <h1> Hopes and Prayers </h1>
    <nav>
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
      <a href="/index">Index</a>
      <a href="/calendar">Calendar</a>
      <a href="/backlog">Backlog</a>
      <a href="/loginCheck">LoginCheck</a>
      <a href="/tasks">Tasks</a>
    </nav>

    <div id="nav-placeholder">
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function(){
        $("#nav-placeholder").load("nav.html");
      });
    </script>
  </body>
</html>
