<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0"> 
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Calendar</title>

  </head>

  

  <body>

    <div class="calendar">
      
      <div class="header">
        <button id="prevBtn">Prev</button>
        <div class="monthYear" id="monthYear"></div>
        <button id="nextBtn">Next</button>
      </div>

      <div class="days">
        <div class="day">Monday</div>
        <div class="day">Tuesday</div>
        <div class="day">Wednesday</div>
        <div class="day">Thursday</div>
        <div class="day">Friday</div>
        <div class="day">Saturday</div>
        <div class="day">Sunday</div>
      </div>

      <div class="dates" id="dates"></div>

      <div id="taskBox"></div>
    
    </div>

    <!--script src="{{ url_for('static', filename='script.js') }}"></script>-->
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script>initCalendar();</script>


    <header class="navHeader"><div id="nav-placeholder"></div></header>


    <script>
      navBar("nav-placeholder")
    </script>
  </body>
</html>
