<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0"> 

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Drag and Drop: Timetabling</title>
</head>

<body>
    <header class="header"><div id="nav-placeholder"></div></header>

    <h1 style="position: absolute;"></h1>

    <div>
        <h3>Sprint Capacity: {{ scheduledTokens }}/ {{ session.get('token_limit', 10) }} Tokens</h3>
    </div>

    <div class="drag-drop-wrapper">
    <!--Prints Task information-->
        <div class="tasksContainer" id="unscheduledTasks">
            <h2 class="header">Tasks</h2>
            {% for task in tasks %}
                {% if task.subtasks %}
                    {% for subtask in task.subtasks %}
                        {% if not subtask.start_time or not subtask.due_date %}
                            <div class="task" id="sub-{{subtask.id}}" draggable="true"> <!--ondragstart="event.dataTransfer.setData('text', this.id)"-->
                                <h3>{{ subtask.title }}</h3>
                                <p><small>Parent: {{ task.title }} </small></p>
                                <p>Tokens: {{subtask.tokens or 1}}</p>
                                <p>Completion Level: {{ subtask.completion_level }}</p>
                                <p>Priority: {{ subtask.set_priority }}</p>
                            </div>
                            <br></br>
                        {% endif %}
                    {% endfor %}
                {% else %}

                    {% if not task.start_time or not task.due_date %}
                        <div class="task" id="{{task.id}}" draggable="true">
                            <h3>{{ task.title }}</h3>
                            <p>{{ task.description }}</p>
                            <p>Tokens Required: {{ task.tokens_required or 1}}</p>
                            <p>Completion Level: {{ task.completion_level }}</p>
                            <p>Priority: {{ task.set_priority }}</p>
                        </div>
                        <br></br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <div class="timetableContainer">
            <div class="timetableGrid" id="timetable">
                <div class="timeHeader">Time</div>
                {% for day in days %}
                    <div class="dayHeader">{{ day.display }}</div>
                {% endfor %}

                {% for time in timeslots %} <!--previously hour and hours if want to chaneg later-->
                    <div class="timeLabel">{{ time }}</div>
                    {% for day in days %}
                        <div class="timeslot" data-day="{{ day.day_name }}" data-date="{{ day.date }}" data-time="{{ time }}">
                            {% for task in tasks %}
                                {% if task.subtasks %}
                                    {% for subtask in task.subtasks %}
                                        {% if subtask.start_time and subtask.due_date and subtask.start_time.strftime("%H:%M") == time and subtask.due_date.strftime("%Y-%m-%d") == day.date %}
                                            <div class="subtask" id="sub-{{subtask.id}}" draggable="true" data-tokens="{{ subtask.tokens or 1}}" style="height: {{ (((subtask.tokens or 1)* session.get('token_duration', 10))/30)*40 }}px;">
                                                <h3>{{ subtask.title }}</h3>
                                                <p><small>Parent: {{ task.title }}</small></p>
                                                <p>Completion Level: {{ subtask.completion_level }}</p>
                                                <p>Priority: {{ subtask.set_priority }}</p>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% if task.start_time and task.due_date and task.start_time.strftime("%H:%M") == time and task.due_date.strftime("%Y-%m-%d") == day.date %}
                                        <div class="task" id="{{task.id}}" draggable="true" data-tokens="{{task.tokens_required or 1}}" style="height: {{ (((task.tokens or 1)* session.get('token_duration',10))/30)*40}}px;">
                                            <h3>{{ task.title }}</h3>
                                            <p>{{ task.description }}</p>
                                            <p>Completion Level: {{ task.completion_level }}</p>
                                            <p>Priority: {{ task.set_priority }}</p>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script>navBar("nav-placeholder"); initDragAndDrop();</script>

</body>

</html>