<nav>
  <div class="nav-left"></div>
  <div class="nav-right">
    <div id="menu-icon" colour="#ffe164"> ☰ </div>
  </div>
</nav> 

<div id="overlay-menu">
  <ul>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/index">Home Page</a>
    <a href="/calendartasks">Calendar</a>
    <a href="/backlog">Backlog</a>
    <a href="/dragAndDrop">Sprint</a>
    <a href="/settings">Settings</a>
    <!--Hidden to users
    <a href="/calendar">Calendar</a>
    <a href="/loginCheck">LoginCheck</a>
    <a href="/tasks">Tasks List</a>

    
    -->
  </ul>
</div>