<nav>
  <div class="nav-left"></div>
  <div class="nav-right">
    <div id="menu-icon"> {}</div>
  </div>
</nav> 

<div id="overlay-menu">
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/index">Home Page</a></li>
    <li><a href="/calendartasks">Calendar</a></li>
    <li><a href="/backlog">Backlog</a></li>
    <li><a href="/tasks">Tasks List</a></li>
    <li><a href="/dragAndDrop">Sprint</a></li>
    <li><a href="/settings">Settings</a></li>
    <!--Hidden to users
    <li><a href="/calendar">Calendar</a></li>
    <li><a href="/loginCheck">LoginCheck</a></li>

    
    -->
  </ul>
</div>