<!DOCTYPE html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1.0"> 
  
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <title>Tasks: View Task Information</title>

        <!--div id="nav-placeholder"></div-->

    </head>

    <body>
        <header class="header">
            <div id="nav-placeholder"></div>
        </header>

        <h1>Tasks List:</h1>

        <!--Prints Task information-->
        <div class="tasksContainer">
            {% for task in tasks %}
                <div class="task">
                    <h3>{{ task.title }}</h3>
                    <p>{{ task.description }}</p>
                    <p>Due Date: {{ task.due_date }}</p>
                    <p>Start Time: {{ task.start_time }}</p>
                    <p>End Time: {{ task.end_time }}</p>
                    <p>Completion Level: {{ task.completion_level }}</p>
                    <p>Priority: {{ task.set_priority }}</p>

                    {% if task.subtasks %}
                        <p>Subtasks No.: {{ task.subtasks | length}}</p>
                        <div class="subtask-container">
                            {% for subtask in task.subtasks %}
                            <div class="subtask">
                                <h4> {{subtask.title}} </h4>
                                <p>Priority: {{ subtask.set_priority }} </p>
                                <p>Completed?: {{ subtask.completion_level }}</p>
                            </div>
                            {% endfor %}
                        </div>

                    {% endif %}
                </div>
            {% endfor %}
        </div>
    


    <script src="{{url_for('static', filename='script.js')}}"></script>

    <script>
      navBar("nav-placeholder")
    </script>

    </body>

</html>