<!DOCTYPE html>

    <head>
        <title>Tasks: View Task Information</title>

    </head>

    <body>

        <div class="tasksContainer">
            {% for task in tasks %}
                <div class="task">
                    <h3>{{ task.title }}</h3>
                    <p>{{ task.description }}</p>
                    <p>Due Date: {{ task.due_date }}</p>
                    <p>Start Time: {{ task.start_time }}</p>
                    <p>End Time: {{ task.end_time }}</p>
                    <p>Completion Level: {{ task.completion_level }}</p>
                    <p>Priority: {{ task.set_priority }}</p>
                </div>
            {% endfor %}
        </div>

        <!--Links-->
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/index">Index</a>
        <a href="/calendar">Calendar</a>
        <a href="/backlog">Backlog</a>
        <a href="/loginCheck">LoginCheck</a>
        <a href="/tasks">Tasks</a>
    </body>

</html>